// Navigation Styles here

.nav-bar {
  .flexed(space-between, center);
  margin-top: 2%;
  margin-bottom: 2%;

  .fun-bus {
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
  }

  .navi {
    .flexed(space-between, center);

    a {
      text-decoration: none;
      padding: 1vw;
      font-size: 1.7rem;
      color: @font-color;
      cursor: pointer;
      transition: all 1s ease-in-out;

      &:hover {
        color: lighten(@font-color, 50%);
      }
    }
  }
}//nav-bar
